﻿@{
    ViewData["Title"] = "Admin Login";
}


    <head>
        <script>
        var sample = {};

        sample.postData = function () {
            $.ajax({
                type: "POST", URL: "@Url.Action("PostAdmin")",
                success: function (data) { alert('data: ' + data); },
                data: { "Adminname": "JohnDoe1", "Password": "password"},
                accept: 'application/json'
            });
        };

        $(document).ready(function () {
            sample.postData();
        });

        </script>
    </head>
<div class="paragraph_scrollable">
    <p>
        <form asp-area="" asp-controller="Admin" asp-action="Authenticate">
            <p>Admin Name:</p>
            <input type="text" name="AdminName"/>
            <p style="padding-top: 10px;">Password:</p>
            <input type="password" name="Password"/>
            <p style="padding-top: 5px;" >
                <input type="submit" value="Submit" style="justify-content: center;" />
            </p>
        </form>
    </p>
</div>
<div class="paragraph_scrollable">
    <a class="link_styled" asp-area="" asp-controller="Admin" asp-action="Register">Click Me To Register</a>
</div>