﻿@using System.Net.Http;
@using System.Web;
@using System.Net.Http.Headers;
@using System.Threading.Tasks;
@using Microsoft.AspNetCore.Session

@{
    ViewData ["Title"] = "Categories List";
    HttpClient client = new HttpClient();
    HttpResponseMessage response = await client.GetAsync("http://metricapi-dev.us-west-2.elasticbeanstalk.com/api/Category?project="+ViewBag.ProjectId+"&page="+ ViewBag.pageNum.ToString() + "&pagesize=5");
    string responseBody;
    response.EnsureSuccessStatusCode();
    responseBody = await response.Content.ReadAsStringAsync();
    responseBody = responseBody.Substring(2, responseBody.Length - 2);
    string [] strlist = responseBody.Split("data");
    string [] pageInfo = strlist [0].Split(",");
    string [] data = strlist [1].Split("{");
    List<string> dataEntries = new List<string>(data);
    dataEntries.RemoveAt(0);
    string [] infoPart;
    int listItem = 0;
    int pageNum = 0;
    int nextPage;
    int previousPage;
    int lastPage = 0;
    Int32.TryParse(pageInfo [0].Substring(pageInfo[0].IndexOf(":") + 1), out pageNum);
    Int32.TryParse(pageInfo [2].Substring(pageInfo[2].IndexOf(":") + 1), out lastPage);
    nextPage = pageNum;
    previousPage = pageNum;
    if (pageNum + 1 <= lastPage)
    {
        nextPage++;
    }
    if (pageNum - 1 >= 1)
    {
        previousPage--;
    }
    string pageDisplay = pageNum.ToString() + "/" + lastPage.ToString();
}

<br />
<br />
<br />
<br />
<br />
<br />
<div class="container">
    <div class="row">
        <div class="col-sm">
            <h2>Category List</h2>
        </div>
    </div>

    <div class="row">
        <table class="table">
            <thead class="thead-dark">
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Name</th>
                    <th scope="col">Description</th>
                    <th scope="col">Units</th>
                    <th scope="col"></th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <thead class="thead-light">
                @{
                    foreach (string listing in dataEntries)
                    {
                        infoPart = listing.Split(",");
                        listItem = listItem + 1;
                                <tr>
                                    <th scope="col">@Html.ActionLink(@listItem.ToString(), "EntriesList", "Home", new { CategoryId = @infoPart[0].Substring(6, infoPart[0].Length - 7), pageNum = 1 }, null)</th>
                                    <th scope="col">@Html.ActionLink(infoPart[1].Substring(8, infoPart[1].Length - 9), "EntriesList", "Home", new { CategoryId = @infoPart[0].Substring(6, infoPart[0].Length - 7), pageNum = 1 }, null)</th>
                                    <th scope="col">@infoPart[2].Substring(15, infoPart[2].Length - 16)</th>
                                    <th scope="col">@infoPart[3].Substring(9, infoPart[3].Length - 10)</th>
                                    <th scope="col">@Html.ActionLink("Update", "UpdateCategory", "Home", new { CategoryId = @infoPart[0].Substring(6, infoPart[0].Length - 7), CategoryName = infoPart[1].Substring(8, infoPart[1].Length - 9), ProjectId = ViewBag.ProjectId, CategoryDescription = @infoPart[2].Substring(15, infoPart[2].Length - 16), CategoryUnits = @infoPart[3].Substring(9, infoPart[3].Length - 10) }, new { @class = "btn btn-warning" })</th>
                                    <th scope="col">@Html.ActionLink("Delete", "DeleteCategory", "Home", new { CategoryId = @infoPart[0].Substring(6, infoPart[0].Length - 7), CategoryName = infoPart[1].Substring(8, infoPart[1].Length - 9), ProjectId = ViewBag.ProjectId }, new { @class = "btn btn-danger" })</th>
                                </tr>

                    }
                }
            </thead>
            <thead class="thead-dark">
                <tr>
                    <th scope="col">@Html.ActionLink("<<", "CategoriesList", "Home", new { ProjectId = ViewBag.ProjectId, pageNum = 1 }, null)</th>
                    <th scope="col">@Html.ActionLink("<", "CategoriesList", "Home", new { ProjectId = ViewBag.ProjectId, pageNum = previousPage }, null)</th>
                    <th scope="col">@pageDisplay</th>
                    <th scope="col"></th>
                    <th scope="col">@Html.ActionLink(">", "CategoriesList", "Home", new { ProjectId = ViewBag.ProjectId, pageNum = nextPage }, null)</th>
                    <th scope="col">@Html.ActionLink(">>", "CategoriesList", "Home", new { ProjectId = ViewBag.ProjectId, pageNum = lastPage }, null)</th>
                </tr>
            </thead>
        </table>
        @Html.ActionLink("Create New Category", "CreateCategory", "Home", new { projectId = ViewBag.ProjectId }, new { @class = "btn btn-primary" })
    </div>
</div>
