﻿@using System.Net.Http;
@using System.Web;
@using System.Net.Http.Headers;
@using System.Threading.Tasks;
@using Microsoft.AspNetCore.Session
@using Microsoft.AspNetCore;

@{
    ViewData ["Title"] = "Create";

    
}
<br>
<br>
<br>
<br>
<br>
<br>
<div class="container">
    <h2>New Entry Info</h2>
    <div class="row">
        <form action="CreateEntryPut" method="post">
            <div class="form-group">
                <label for="Value">Value</label>
                <input type="text" name="Value" required>
            </div>
            <input type="hidden" name="CategoryId" required readonly value="@ViewBag.CategoryId">

            <button class="btn btn-primary" type="submit">Submit</button>
            @Html.ActionLink("Cancel", "EntriesList", "Home", new { CategoryId = ViewBag.CategoryId, pageNum = 1}, new { @class = "btn btn-secondary" })
        </form>
    </div>
</div>