﻿@using System.Net.Http;
@using System.Web;
@using System.Net.Http.Headers;
@using System.Threading.Tasks;
@using Microsoft.AspNetCore.Session
@using Microsoft.AspNetCore;

@{
    ViewData ["Title"] = "Delete";
    HttpClient client = new HttpClient();
    string url = "http://metricapi-dev.us-west-2.elasticbeanstalk.com/api/Entry/"+ViewBag.EntryId;
    var response = await client.DeleteAsync(url);
    response.EnsureSuccessStatusCode();
}

<br>
<br>
<br>
<br>
<br>
<br>
<div>
    <h2>Entry Deleted</h2>
    <button>@Html.ActionLink("Back to Entries", "EntriesList", "Home", new { CategoryId = ViewBag.CategoryId, pageNum = 1 })</button>
</div>