﻿@using System.Net.Http;
@using System.Web;
@using System.Net.Http.Headers;
@using System.Threading.Tasks;
@using Microsoft.AspNetCore.Session
@using Microsoft.AspNetCore;

@{
    ViewData ["Title"] = "Delete";
    HttpClient client = new HttpClient();
    string url = "http://metricapi-dev.us-west-2.elasticbeanstalk.com/api/Project/"+ViewBag.ProjectId;
    var response = await client.DeleteAsync(url);
    response.EnsureSuccessStatusCode();
}

<br>
<br>
<br>
<br>
<br>
<br>
<div>
    <h2>Project:</h2>
    <h2>@ViewBag.ProjectName</h2>
    <h2>Deleted</h2>

    <button onclick="window.location.replace('ProjectsList');">Return</button>
</div>