﻿@using System.Net.Http;
@using System.Web;
@using System.Net.Http.Headers;
@using System.Threading.Tasks;
@using Microsoft.AspNetCore.Session
@using Microsoft.AspNetCore;

@{
    ViewData ["Title"] = "Update";
}

<br>
<br>
<br>
<br>
<br>
<br>
<div class="container">
    <h2>Edit Project Info</h2>
    <div class="row">
        <form action="UpdateProjectPut" method="post">
            <div class="form-group">
                <label for="Name">Name</label>
                <input type="text" name="Name" required value="@ViewBag.Name">
            </div>
            <div class="form-group">
                <label for="Description">Description</label>
                <input type="text" name="Description" required value="@ViewBag.Description">
            </div>
            <input type="hidden" name="ProjectId" required readonly value="@ViewBag.Id">
            <button class="btn btn-primary" type="submit">Submit</button>
            @Html.ActionLink("Cancel", "ProjectsList", "Home", null, new { @class = "btn btn-secondary" })
        </form>
    </div>
</div>