﻿@model AdminFrontEnd.Models.ErrorViewModel

@{
    ViewData["Title"] = "500 - An Error Occured";
}

<div class="paragraph_scrollable">
    <h1>500 - An Error Occured</h1>
</div>

<div class="paragraph_scrollable">
    <p>Something went wrong.</p>
</div>
