﻿@model AdminFrontEnd.Models.ErrorViewModel

@{ 
    ViewData["Title"] = "404 - Page Not Found";
}

<div class="paragraph_scrollable">
    <h1>404 - Page Not Found</h1>
</div>

<div class="paragraph_scrollable">
    <p>We could not find the page that you requested.</p>
</div>